/**/.vs
/apps/controller/build
/apps/controller/controller.android/obj
/apps/controller/controller.desktop/obj
/apps/controller/controller.marshal/obj
/apps/generator/build
/apps/simulator/build
/apps/tests/build
*.user
/devices/raspberry_pi_router/VisualGDB
/tests/rpi_nrf24l01_client_test/VisualGDB
/tests/rpi_nrf24l01_server_test/VisualGDB
/tests/rpi_nrf24l01_test/VisualGDB
