/**/.vs
/apps/controller/build
/apps/controller/controller.android/obj
/apps/controller/controller.marshal/obj
/apps/generator/build
/apps/simulator/build
*.user
/devices/raspberry_pi_router/VisualGDB
